{% extends 'layouts/index.html' %}
{% load static %}

{% block css_add %}
    <link rel="stylesheet" href="{% static 'css/details.css'%}">
{% endblock %}


{% block content %}

    <div class="info">
        <img src="{{ product.image.url }}" alt="" width="20%">
        <h1>{{ product.title }}</h1>
        <h1>{{ product.price }} сом</h1>
        <h3>{{ product.parameters }}</h3>
        <h5>{{ product.description }}</h5>
        <h6>Категория товара: {{ category.title }}
            <img src="{{ category.icon.url }}" alt="" width="5%">
        </h6>
        <form action="/products/{{ product.slug }}/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Отправить">
        </form>
    </div>
    <style>
.container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
      text-align: center;
  }
  .container img {
      margin: auto;
      float: none;
      display: block;
  }
}
</style>
    {% for review in reviews%}
    <h2>Отзывы к продукту</h2>
    <p></p>

    <div class="container">
      <img src="" alt="" style="width:90px">
      <p><span>{{ review.name_user }}</span></p>
      <p>{{ review.comment }}</p>
    </div>
    {% endfor%}

{% endblock %}